form {
    padding: 30px;
    display: flex;
    flex-direction: column;
}
button {
    margin-right: 10px;
}
::ng-deep.mat-form-field-disabled .mat-form-field-underline {
    background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0,
    rgba(0, 0, 0, 0.42) 33%,
    #c2c7cc 0
  ) !important;
  background-size: 1px 100% !important;
  background-repeat: repeat-x !important;
  color: rgba(0, 0, 0, 0.42) 33%;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
     color: #7c1952 !important;
   }