.sidenav {
    background-image: linear-gradient(180deg, #eb7004 0%, #7c1952 70%);
    color: #fff;
    width: 200px;
}

.sidenav a {
    color:#fff;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #FFF;
}
